.cards {
    display: block;
    align-self: center;

}

#hero {
    object-fit: cover;
    height: 100%; 
    width: 50vw;
}

#cardOne {
    height: 100%;
    width: 50vw;
    background-color: rgb(64, 62, 42);
    border: none;
}


#root {
    background-color: rgb(68, 69, 67);

}

#card-parent {
    display: flex;
    background-color: rgb(64, 62, 42);

}
